@import url("https://fonts.googleapis.com/css?family=Montserrat");
body, html {
  height: 100%;
}

body {
  margin: 0;
  height: 100vh;
  font-family: "Montserrat", sans-serif !important;
  background: #FDE9C9 !important;
}

.logo {
  width: 30px;
  height: 30px;
}

.logo-text {
  font-weight: normal;
}

header .navbar .logo {
  margin-right: 0.5em;
}

header .navbar .btn-background {
  background: #89C5CC;
  border-radius: 20px;
}

footer .logo {
  padding: 0 !important;
  margin-left: 0.5em !important;
  margin-right: 0.5em !important;
}

footer .logo svg {
  width: 100%;
  height: 100%;
}

.colored-text {
  color: #E44D26;
}

section {
  height: 100vh;
}

section:nth-of-type(2) {
  padding: 0;
}

section .card {
  width: 100vw;
  border: none;
  border-radius: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
}

section.hero svg {
  width: 100vw;
  height: 120vh;
}

section.hero .hero-text {
  position: absolute;
  top: 3.5em;
  left: 3em;
  width: 653px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  font-size: 1.5em;
  line-height: 37px;
  padding-bottom: 6px;
}

section.hero .hero-text div:first-of-type {
  font-weight: bold;
  font-size: 2.75em;
  line-height: 85px;
}

section.about .card {
  height: 90vh;
}

section.about .card .background {
  width: 100%;
  height: 100%;
  position: absolute;
}

section.about .card .background svg {
  height: 100%;
  position: absolute;
  padding-top: 2em;
  padding-bottom: 0.25em;
  z-index: 1;
}

section.about .card .background div {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #FFC331;
  -webkit-clip-path: polygon(0 0, 17% 0, 63% 100%, 0% 100%);
          clip-path: polygon(0 0, 17% 0, 63% 100%, 0% 100%);
}

section.about .card .background div:nth-of-type(1) {
  background-color: #E5E5E5;
  -webkit-clip-path: polygon(0 100%, 17% 100%, 63% 0, 0 0);
          clip-path: polygon(0 100%, 17% 100%, 63% 0, 0 0);
}

section.about .card img {
  height: 18em;
  border-radius: 9em;
  z-index: 1;
}

section.about .card .about-text {
  width: 55vw;
  font-weight: 500;
  font-size: 1.5em;
  line-height: 38px;
  z-index: 1;
}

section.about .card .about-text div {
  padding-bottom: 1em;
}

section.about .card .about-text div:first-of-type {
  font-weight: bolder;
  font-size: 2em;
  line-height: 73px;
  padding-bottom: 0.5em;
}

section.contact {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  background-color: #89C5CC;
}

section.contact .contact-text {
  font-weight: 600;
  font-size: 1.5em;
  line-height: 37px;
}

section.contact .contact-text div {
  padding-bottom: 1em;
}

section.contact .contact-text div:first-of-type {
  font-weight: bolder;
  font-size: 2em;
  line-height: 73px;
  padding-bottom: 0.5em;
}
/*# sourceMappingURL=App.css.map */