@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  height: 100%;
}

body {
  margin: 0;
  height: 100vh;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  font-family: "Montserrat", sans-serif !important;
  color: #212529;
  background-color: #fde9c9 !important;
}

section {
  height: 100vh;
  width: 100vw;
}

section:nth-of-type(2) {
  padding: 0;
}

section div .card {
  width: 100vw;
  border: none;
  border-radius: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
}

.logo {
  width: 30px;
  height: 30px;
  border-radius: 15%;
}

.colored-text {
  color: #e44d26;
}

#home-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

@-webkit-keyframes drop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-80px);
            transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes drop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-80px);
            transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

/********** Large and Extra large devices **********/
@media only screen and (min-width: 992px) {
  svg.flower {
    height: 15rem;
    width: 15rem;
  }
}

/********** Medium devices **********/
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  svg.flower {
    height: 12rem;
    width: 12rem;
  }
}

/********** All Small devices **********/
@media only screen and (max-width: 767.98px) {
  svg.flower {
    height: 10rem;
    width: 10rem;
  }
}

header .navbar .header-bar .navbar-toggler:focus {
  outline: none;
}

header .navbar .header-bar .navbar-brand .logo {
  margin-right: 0.5rem;
}

header .navbar .header-bar .navbar-brand .logo-text {
  text-decoration: none;
}

header .navbar #responsive-navbar-nav .navbar-nav .nav-link:focus {
  color: rgba(0, 0, 0, 0.5);
}

header .navbar #responsive-navbar-nav .navbar-nav .non-active.nav-link.active {
  color: rgba(0, 0, 0, 0.5);
}

header .navbar #responsive-navbar-nav .navbar-nav .nav-link.active {
  color: rgba(0, 0, 0, 0.9);
}

header .navbar #responsive-navbar-nav .navbar-nav .btn-background {
  background: none;
  border-radius: 20px;
  text-align: center;
}

/********** Large and Extra large devices **********/
@media only screen and (min-width: 991.98px) {
  header .navbar #responsive-navbar-nav .navbar-nav .btn-background {
    background: #89c5cc;
  }
}

/********** Medium devices (tablets, 768px and below) **********/
@media only screen and (max-width: 991.98px) {
  header .navbar {
    padding: 0;
  }
  header .navbar .header-bar {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: .5rem 1rem;
  }
  header .navbar .navbar-collapse.show, header .navbar .navbar-collapse.collapsing {
    background-color: #e5e5e5;
  }
}

footer .navbar .logo {
  padding: 0 !important;
  margin-left: 0.5em !important;
  margin-right: 0.5em !important;
}

footer .navbar .logo svg {
  width: 100%;
  height: 100%;
}

footer .navbar .logo-text {
  text-decoration: none;
}

#root #scroll-btn {
  position: fixed;
  bottom: 0px;
  right: 0px;
  height: 35px;
  width: 35px;
  margin-bottom: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  border: none;
  outline: 0px;
  cursor: pointer;
  opacity: 0;
  z-index: 1000;
  -webkit-transition: opacity 0.5s ease-in-out, right 0.5s ease-in-out, bottom 0.2s ease-in-out;
  transition: opacity 0.5s ease-in-out, right 0.5s ease-in-out, bottom 0.2s ease-in-out;
}

#root #scroll-btn.active {
  right: 1.4rem;
  opacity: 1;
}

#root #scroll-btn.active.shift {
  bottom: 3.5rem;
  opacity: 1;
}

#root #scroll-btn.active:hover .circle-top, #root #scroll-btn.active.shift:hover .circle-top {
  opacity: 1;
  -webkit-animation: blob-1-anim 3s cubic-bezier(0.77, 0, 0.175, 1) infinite;
          animation: blob-1-anim 3s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}

#root #scroll-btn.active:hover .circle-bottom, #root #scroll-btn.active.shift:hover .circle-bottom {
  opacity: 1;
  -webkit-animation: blob-2-anim 3s cubic-bezier(0.77, 0, 0.175, 1) infinite;
          animation: blob-2-anim 3s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}

#root #scroll-btn.active:hover .circle-arrow, #root #scroll-btn.active.shift:hover .circle-arrow {
  -webkit-animation: scroll-y-anim 3s cubic-bezier(0.77, 0, 0.175, 1) infinite;
          animation: scroll-y-anim 3s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}

#root .circle {
  background: #db2721;
  border-radius: 50%;
  height: 35px;
  width: 35px;
}

#root .circle.circle-top {
  height: 25px;
  width: 17.5px;
  opacity: 0;
}

#root .circle.circle-bottom {
  height: 25px;
  width: 17.5px;
  opacity: 0;
}

#root .circle-arrow {
  color: #ffffff;
  position: absolute;
  z-index: 1;
}

@-webkit-keyframes blob-1-anim {
  0% {
    -webkit-transform: scale(1) translateY(0px);
            transform: scale(1) translateY(0px);
  }
  30% {
    -webkit-transform: scale(1) translateY(0px);
            transform: scale(1) translateY(0px);
  }
  70% {
    -webkit-transform: scale(1) translateY(0px);
            transform: scale(1) translateY(0px);
  }
  95% {
    -webkit-transform: scale(1) translateY(-8px);
            transform: scale(1) translateY(-8px);
  }
  100% {
    -webkit-transform: scale(1) translateY(0px);
            transform: scale(1) translateY(0px);
  }
}

@keyframes blob-1-anim {
  0% {
    -webkit-transform: scale(1) translateY(0px);
            transform: scale(1) translateY(0px);
  }
  30% {
    -webkit-transform: scale(1) translateY(0px);
            transform: scale(1) translateY(0px);
  }
  70% {
    -webkit-transform: scale(1) translateY(0px);
            transform: scale(1) translateY(0px);
  }
  95% {
    -webkit-transform: scale(1) translateY(-8px);
            transform: scale(1) translateY(-8px);
  }
  100% {
    -webkit-transform: scale(1) translateY(0px);
            transform: scale(1) translateY(0px);
  }
}

@-webkit-keyframes blob-2-anim {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  10% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  24% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes blob-2-anim {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  10% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  24% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes scroll-y-anim {
  0% {
    -webkit-transform: translate3d(0, 115%, 0) rotateX(90deg) scale(0.5) skewX(3deg);
            transform: translate3d(0, 115%, 0) rotateX(90deg) scale(0.5) skewX(3deg);
  }
  30% {
    -webkit-transform: translate3d(0, 0, 0) rotateX(0deg) scale(1) skewX(0deg);
            transform: translate3d(0, 0, 0) rotateX(0deg) scale(1) skewX(0deg);
  }
  70% {
    -webkit-transform: translate3d(0, 0, 0) rotateX(0deg) scale(1) skewX(0deg);
            transform: translate3d(0, 0, 0) rotateX(0deg) scale(1) skewX(0deg);
  }
  95% {
    -webkit-transform: translate3d(0, -125%, 0) rotateX(-90deg) scale(0.5) skewX(-3deg);
            transform: translate3d(0, -125%, 0) rotateX(-90deg) scale(0.5) skewX(-3deg);
  }
  100% {
    -webkit-transform: translate3d(0, -125%, 0) rotateX(-90deg) scale(0.5) skewX(-3deg);
            transform: translate3d(0, -125%, 0) rotateX(-90deg) scale(0.5) skewX(-3deg);
  }
}

@keyframes scroll-y-anim {
  0% {
    -webkit-transform: translate3d(0, 115%, 0) rotateX(90deg) scale(0.5) skewX(3deg);
            transform: translate3d(0, 115%, 0) rotateX(90deg) scale(0.5) skewX(3deg);
  }
  30% {
    -webkit-transform: translate3d(0, 0, 0) rotateX(0deg) scale(1) skewX(0deg);
            transform: translate3d(0, 0, 0) rotateX(0deg) scale(1) skewX(0deg);
  }
  70% {
    -webkit-transform: translate3d(0, 0, 0) rotateX(0deg) scale(1) skewX(0deg);
            transform: translate3d(0, 0, 0) rotateX(0deg) scale(1) skewX(0deg);
  }
  95% {
    -webkit-transform: translate3d(0, -125%, 0) rotateX(-90deg) scale(0.5) skewX(-3deg);
            transform: translate3d(0, -125%, 0) rotateX(-90deg) scale(0.5) skewX(-3deg);
  }
  100% {
    -webkit-transform: translate3d(0, -125%, 0) rotateX(-90deg) scale(0.5) skewX(-3deg);
            transform: translate3d(0, -125%, 0) rotateX(-90deg) scale(0.5) skewX(-3deg);
  }
}

#full-page-nav-container {
  position: fixed;
  right: 0;
  top: 50%;
  -webkit-transform: translate(-15%, -50%);
          transform: translate(-15%, -50%);
  z-index: 1000;
}

#full-page-nav-container ul {
  margin: 0;
  padding: 0;
  width: 9rem;
  text-align: right;
  list-style: none;
}

#full-page-nav-container ul li {
  height: 2.5rem;
}

#full-page-nav-container ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  cursor: unset;
}

#full-page-nav-container ul li a div {
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#full-page-nav-container ul li a div .nav-circle {
  width: 4px;
  height: 4px;
  background: #db2721;
  border-radius: 50%;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
  cursor: pointer;
}

#full-page-nav-container ul li a div .full-page-nav-title {
  position: absolute;
  right: 1.5rem;
  font-weight: 700;
  color: #db2721;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.15s ease-in;
  transition: opacity 0.15s ease-in;
}

#full-page-nav-container ul li a div:hover .full-page-nav-title {
  opacity: 1;
}

#full-page-nav-container ul li div:hover .nav-circle {
  width: 10px;
  height: 10px;
}

#full-page-nav-container ul li a.active .nav-circle {
  width: 12px;
  height: 12px;
}

section#hero {
  height: 92vh;
}

section#hero #hero-container {
  height: 100%;
  position: relative;
  overflow: hidden;
}

section#hero #hero-container svg.flower {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

section#hero #hero-container .background {
  position: absolute;
  height: 100%;
  top: -0.5rem;
  right: 0;
  -webkit-animation: drop 1.5s ease;
          animation: drop 1.5s ease;
}

section#hero #hero-container .background svg {
  width: 100%;
  height: 100%;
}

section#hero #hero-container .hero-text {
  position: relative;
  width: 675px;
  padding-top: 3.5rem;
  padding-left: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  font-size: 1.5rem;
}

section#hero #hero-container h1 {
  font-weight: bold;
  font-size: 4rem;
  line-height: 85px;
  word-break: break-word;
}

/********** Large devices (desktops, 992px and up) **********/
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  section#hero #hero-container .hero-text h1 {
    font-size: 3.5rem;
    line-height: 70px;
  }
}

/********** Medium devices (tablets, 768px and up) **********/
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  section#hero #hero-container svg.flower {
    display: none;
  }
  section#hero #hero-container .hero-text {
    width: 610px;
  }
  section#hero #hero-container .hero-text h1 {
    font-size: 3.5rem;
    line-height: 70px;
  }
}

/********** Small devices (landscape phones, 576px and up) **********/
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  section#hero #hero-container svg.flower {
    display: none;
  }
  section#hero #hero-container .background {
    top: unset;
    bottom: 0;
    right: 0;
  }
  section#hero #hero-container .hero-text {
    width: 530px;
    font-size: 1.25rem;
  }
  section#hero #hero-container .hero-text h1 {
    font-size: 3rem;
    line-height: 65px;
  }
}

@media only screen and (max-width: 575.98px) {
  section#hero #hero-container svg.flower {
    display: none;
  }
  section#hero #hero-container .background {
    top: unset;
    bottom: 0;
    right: 0;
  }
  section#hero #hero-container .hero-text {
    width: 450px;
    font-size: 1rem;
  }
  section#hero #hero-container .hero-text h1 {
    font-size: 2.5rem;
    line-height: 60px;
  }
}

section#about #about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  height: 100%;
}

section#about #about-container .card {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}

section#about #about-container .card svg.flower {
  position: absolute;
  top: -5em;
  left: 0;
  z-index: 2;
}

section#about #about-container .card svg.flower:nth-child(2) {
  top: unset;
  left: unset;
  bottom: -5rem;
  right: 0;
}

section#about #about-container .card .background {
  position: absolute;
  width: 100%;
  height: 100%;
}

section#about #about-container .card .background div {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #ffc331;
  -webkit-clip-path: polygon(0 0, 17% 0, 63% 100%, 0% 100%);
          clip-path: polygon(0 0, 17% 0, 63% 100%, 0% 100%);
}

section#about #about-container .card .background div:nth-child(1) {
  background-color: #e5e5e5;
  -webkit-clip-path: polygon(0 100%, 17% 100%, 63% 0, 0 0);
          clip-path: polygon(0 100%, 17% 100%, 63% 0, 0 0);
}

section#about #about-container .card .background svg {
  height: 100%;
  width: 100%;
  padding-top: 2em;
  position: absolute;
  top: -0.5rem;
  left: 0;
  z-index: 1;
}

section#about #about-container .card img {
  height: 18em;
  border-radius: 50%;
  z-index: 1;
}

section#about #about-container .card .about-text {
  font-size: 1.25rem;
  line-height: 38px;
  text-align: left;
  z-index: 2;
  width: 55vw;
}

section#about #about-container .card .about-text h2 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 85px;
}

section#about #about-container .card .about-text p {
  margin-bottom: 0.5rem;
}

section#about #about-container .card .about-text p:last-of-type .colored-text {
  font-weight: 700;
  text-decoration: underline;
}

/********** Medium devices (tablets, 768px and up) **********/
@media only screen and (max-width: 991.98px) {
  section#about #about-container .card {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    padding: 1rem 2rem;
  }
  section#about #about-container .card .background svg {
    height: 90%;
    width: 90%;
    top: 2rem;
    left: 2rem;
    padding-top: 0;
  }
  section#about #about-container .card img {
    height: 12rem;
  }
  section#about #about-container .card .about-text {
    width: 100%;
    font-size: 1.15rem;
    line-height: 30px;
    text-align: center;
  }
  section#about #about-container .card .about-text h2 {
    line-height: 70px;
  }
}

/********** Small and Extra small devices (landscape phones, 576px and up + portrait phones, less than 576px) **********/
@media only screen and (max-width: 767.98px) {
  section#about #about-container .card img {
    height: 10rem;
  }
  section#about #about-container .card .about-text {
    font-size: 1rem;
    line-height: 30px;
  }
  section#about #about-container .card .about-text h2 {
    line-height: 60px;
  }
}

@media only screen and (max-width: 575.98px) {
  section#about #about-container .card img {
    height: 8rem;
  }
}

section#featured {
  height: auto;
}

#featured-container .featured-text {
  height: 30vh;
  font-weight: 500;
  font-size: 1.5rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

#featured-container .featured-text h2 {
  font-weight: 700;
  font-size: 2rem;
  padding-bottom: 0.5rem;
}

#featured-container .featured-text svg:first-child {
  position: absolute;
  top: -8rem;
  right: 0;
}

#featured-container .featured-projects {
  position: relative;
}

#featured-container .featured-projects svg.flower {
  position: absolute;
  top: -7rem;
  left: 0;
  z-index: 4;
}

#featured-container .featured-projects .project {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#featured-container .featured-projects .project .card {
  height: 80vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
}

#featured-container .featured-projects .project .card svg.flower {
  position: absolute;
  z-index: 4;
}

#featured-container .featured-projects .project .card .project-image {
  height: 80%;
  margin-left: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  background-color: white;
  -webkit-box-shadow: inset -2px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset -2px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 2;
}

#featured-container .featured-projects .project .card .project-image img {
  height: 100%;
  background: linear-gradient(132.35deg, #c4c4c4 31.67%, rgba(196, 196, 196, 0) 100%);
}

#featured-container .featured-projects .project .card .card-text {
  height: 100%;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 3;
}

#featured-container .featured-projects .project .card .card-text h3, #featured-container .featured-projects .project .card .card-text p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 1rem;
  -webkit-box-shadow: -6px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: -6px 4px 4px rgba(0, 0, 0, 0.25);
}

#featured-container .featured-projects .project .card .card-text h3 {
  height: 15%;
  margin: 1rem 0;
  font-size: 2rem;
  font-weight: bolder;
  background-color: #89c5cc;
}

#featured-container .featured-projects .project .card .card-text p {
  width: 90%;
  margin-left: auto;
  font-size: 1.5rem;
  background-color: #e5e5e5;
}

#featured-container .featured-projects .project .card .background {
  overflow: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
}

#featured-container .featured-projects .project .card .background svg.dots {
  position: absolute;
  height: 100%;
  bottom: 0;
  right: 0;
}

#featured-container .featured-projects .project:nth-of-type(1) .card svg.flower {
  bottom: 0;
  top: unset;
}

#featured-container .featured-projects .project:nth-of-type(3) .card svg.flower {
  bottom: 0;
  top: unset;
}

#featured-container .featured-projects .project:nth-of-type(2) .card svg.flower {
  bottom: 0;
  right: 0;
  top: unset;
  left: unset;
}

#featured-container .featured-projects .project:nth-of-type(2) .card .project-image {
  margin-left: auto;
  margin-right: 2rem;
  -webkit-box-shadow: inset 2px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 2px 4px 4px rgba(0, 0, 0, 0.25);
}

#featured-container .featured-projects .project:nth-of-type(2) .card .project-image img {
  background: linear-gradient(-132.35deg, #c4c4c4 31.67%, rgba(196, 196, 196, 0) 100%);
}

#featured-container .featured-projects .project:nth-of-type(2) .card .card-text {
  right: unset;
  top: unset;
  left: 0;
}

#featured-container .featured-projects .project:nth-of-type(2) .card .card-text h3 {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-shadow: 6px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 6px 4px 4px rgba(0, 0, 0, 0.25);
}

#featured-container .featured-projects .project:nth-of-type(2) .card .card-text p {
  margin-left: 0;
  margin-right: auto;
  text-align: right;
  -webkit-box-shadow: 6px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 6px 4px 4px rgba(0, 0, 0, 0.25);
}

#featured-container .featured-projects .project:nth-of-type(2) .card .background svg {
  height: 100%;
  bottom: 0;
  left: 0;
}

#featured-container .see-more {
  height: 30vh;
}

#featured-container .see-more .card {
  height: 5rem;
  font-size: 1.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#featured-container .see-more .card h3.see-more-text {
  margin: 0;
  z-index: 1;
  font-size: 1.5rem;
}

#featured-container .see-more .card h3.see-more-text .colored-text {
  font-weight: bolder;
  padding-left: 0.25rem;
  text-decoration: underline;
}

#featured-container .see-more .card .background {
  width: 100%;
  height: 100%;
  position: absolute;
}

#featured-container .see-more .card .background div {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #ffc331;
  -webkit-clip-path: polygon(10% 0, 25% 100%, 75% 100%, 90% 0, 100% 0, 100% 100%, 0 100%, 0 0);
          clip-path: polygon(10% 0, 25% 100%, 75% 100%, 90% 0, 100% 0, 100% 100%, 0 100%, 0 0);
}

#featured-container .see-more .card .background div:nth-child(1) {
  background-color: #e5e5e5;
  -webkit-clip-path: polygon(10% 100%, 25% 0, 75% 0, 90% 100%, 100% 100%, 100% 0, 0 0, 0 100%);
          clip-path: polygon(10% 100%, 25% 0, 75% 0, 90% 100%, 100% 100%, 100% 0, 0 0, 0 100%);
}

/********** Large devices (desktops, 992px and up) **********/
/********** Medium, Small, and Extra Small devices (tablets, landscape & portrait phones, 768px and below) **********/
@media only screen and (max-width: 991.98px) {
  #featured-container .featured-text {
    font-size: 1.15rem;
  }
  #featured-container .featured-projects .project:nth-of-type(2) .card .project-image {
    margin: 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  #featured-container .featured-projects .project:nth-of-type(2) .card .card-text {
    left: unset;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  #featured-container .featured-projects .project:nth-of-type(2) .card .card-text h3, #featured-container .featured-projects .project:nth-of-type(2) .card .card-text p {
    background-color: unset;
    -webkit-box-shadow: unset;
            box-shadow: unset;
    padding: 0;
  }
  #featured-container .featured-projects .project:nth-of-type(2) .card .card-text p {
    margin: 0;
    width: unset;
    text-align: center;
  }
  #featured-container .featured-projects .project .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #featured-container .featured-projects .project .card .background div {
    -webkit-clip-path: polygon(0 0, 0% 100%, 50% 50%);
            clip-path: polygon(0 0, 0% 100%, 50% 50%);
    background-color: #88c5cc;
    width: 100%;
    height: 100%;
  }
  #featured-container .featured-projects .project .card .project-image {
    margin-left: 0;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    -webkit-box-shadow: inset 2px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: inset 2px 4px 4px rgba(0, 0, 0, 0.25);
  }
  #featured-container .featured-projects .project .card .project-image img {
    background: linear-gradient(-132.35deg, #c4c4c4 31.67%, rgba(196, 196, 196, 0) 100%);
  }
  #featured-container .featured-projects .project .card .card-text {
    height: unset;
    width: 100%;
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    right: unset;
    top: unset;
  }
  #featured-container .featured-projects .project .card .card-text h3, #featured-container .featured-projects .project .card .card-text p {
    background-color: unset;
    -webkit-box-shadow: unset;
            box-shadow: unset;
    padding: 0;
  }
  #featured-container .featured-projects .project .card .card-text p {
    font-size: 1.15rem;
    margin: 0;
    width: unset;
    max-width: 75%;
    text-align: center;
  }
  #featured-container .see-more .card h3.see-more-text {
    font-size: 1.5rem;
  }
}

/********** Small devices (landscape phones, 576px and up) **********/
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  #featured-container .featured-text {
    font-size: 1rem;
  }
  #featured-container .featured-projects .project .card .card-text p {
    font-size: 1rem;
  }
  #featured-container .see-more .card h3.see-more-text {
    font-size: 1.25rem;
  }
}

/********** Extra small devices (portrait phones, less than 576px) **********/
@media only screen and (max-width: 575.98px) {
  #featured-container .featured-text {
    font-size: 1rem;
  }
  #featured-container .featured-projects .project .card .card-text p {
    font-size: 1rem;
  }
  #featured-container .see-more .card h3.see-more-text {
    font-size: 1.25rem;
  }
}

section#contact {
  height: 90vh;
  background-color: #89c5cc;
}

section#contact #contact-container {
  height: 100%;
  position: relative;
}

section#contact #contact-container .background {
  overflow: hidden;
  position: absolute;
  bottom: 1rem;
  left: 0;
}

section#contact #contact-container .background svg {
  width: 100%;
  height: 100%;
}

section#contact #contact-container .content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

section#contact #contact-container .content .contact-text {
  font-weight: 400;
  font-size: 1.5rem;
}

section#contact #contact-container .content .contact-text h2 {
  font-weight: 700;
  font-size: 2rem;
}

section#contact #contact-container .content .contact-text p {
  margin-bottom: 2rem;
}

section#contact #contact-container .content #contact-form {
  z-index: 1;
  width: 50vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 38% 10% 4% 10% 38%;
      grid-template-columns: 38% 10% 4% 10% 38%;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
}

section#contact #contact-container .content #contact-form .form-group {
  text-align: left;
}

section#contact #contact-container .content #contact-form .form-group:nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  -ms-grid-row: 1;
  grid-row: 1;
}

section#contact #contact-container .content #contact-form .form-group:nth-child(2) {
  -ms-grid-column: 4;
  -ms-grid-column-span: 5;
  grid-column: 4 / span 5;
  -ms-grid-row: 1;
  grid-row: 1;
}

section#contact #contact-container .content #contact-form .form-group:nth-child(3) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1 / span 5;
  -ms-grid-row: 2;
  grid-row: 2;
  margin-bottom: 2rem;
}

section#contact #contact-container .content #contact-form button {
  margin-bottom: 1rem;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2 / span 3;
  -ms-grid-row: 3;
  grid-row: 3;
  border-radius: 20px;
  background-color: #db2721;
  border-color: #db2721;
}

section#contact #contact-container .content #contact-form .arrow-doodle {
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5 / span 1;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3/ span 2;
}

section#contact #contact-container .content #contact-form .arrow-doodle path {
  stroke-dasharray: 251;
  stroke-dashoffset: 251;
  -webkit-animation: dash-anim 4s linear infinite;
          animation: dash-anim 4s linear infinite;
}

@-webkit-keyframes dash-anim {
  0% {
    stroke-dashoffset: 251;
  }
  30% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash-anim {
  0% {
    stroke-dashoffset: 251;
  }
  30% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

/********** Medium devices (tablets, 768px and below) **********/
@media only screen and (max-width: 991.98px) {
  section#contact #contact-container .content #contact-form {
    width: 65vw;
  }
}

/********** Small and Extra small devices (landscape phones, 576px and up + portrait phones, less than 576px) **********/
@media only screen and (max-width: 767.98px) {
  section#contact {
    height: 92vh;
  }
  section#contact #contact-container .content .contact-text {
    font-size: 1.25rem;
  }
  section#contact #contact-container .content #contact-form {
    width: 60vw;
    -ms-grid-columns: 34% 12% 8% 12% 34%;
        grid-template-columns: 34% 12% 8% 12% 34%;
    -ms-grid-rows: auto auto auto auto;
        grid-template-rows: auto auto auto auto;
  }
  section#contact #contact-container .content #contact-form .form-group {
    text-align: left;
  }
  section#contact #contact-container .content #contact-form .form-group:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1 / span 5;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  section#contact #contact-container .content #contact-form .form-group:nth-child(2) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1 / span 5;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  section#contact #contact-container .content #contact-form .form-group:nth-child(3) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1 / span 5;
    -ms-grid-row: 3;
    grid-row: 3;
  }
  section#contact #contact-container .content #contact-form button {
    -ms-grid-row: 4;
    grid-row: 4;
  }
  section#contact #contact-container .content #contact-form .arrow-doodle {
    -ms-grid-row: 4;
    -ms-grid-row-span: 2;
    grid-row: 4/ span 2;
    width: 170px;
  }
}

#projects-gallery-container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 3rem 3.5rem 0 3.5rem;
}

#projects-gallery-container .card-columns .card .image-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#projects-gallery-container .card-columns .card .image-container img {
  width: 100%;
}

#projects-gallery-container .card-columns .card .card-img-overlay {
  opacity: 0;
  color: #ffffff;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

#projects-gallery-container .card-columns .card .card-img-overlay:hover {
  background-color: #505050e0;
  opacity: 1;
}

#projects-gallery-container .card-columns .card .card-body {
  text-align: center;
}

#projects-gallery-container .card-columns .card .card-body .card-text .nav-link {
  display: inline-block;
  padding: 0;
}

#projects-gallery-container .card-columns .card:nth-child(1) .image-container {
  padding: 1em 0 0 0;
}

#projects-gallery-container .card-columns .card:nth-child(1) .image-container img {
  width: 60%;
  border-radius: 8em;
}

#projects-gallery-container .card-columns .card:nth-child(1) .card-body .card-title {
  font-weight: bold;
}

#single-project-container .single-project-header {
  background: linear-gradient(132.35deg, #db2721 31.67%, rgba(196, 196, 196, 0) 100%);
  width: 100vw;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

#single-project-container .single-project-header div {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #827a7a47;
}

#single-project-container .single-project-header h1 {
  color: white;
  font-size: 6rem;
  font-weight: 700;
  z-index: 1;
  position: absolute;
}

#single-project-container .single-project-content-container {
  display: -ms-grid;
  display: grid;
  width: 100vw;
  background-color: antiquewhite;
  -ms-grid-columns: 70% auto;
      grid-template-columns: 70% auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
}

#single-project-container .single-project-content-container .single-project-content {
  background: white;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / span 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
}

#single-project-container .single-project-content-container .main-content-container {
  padding: 2rem 3rem 0 3rem;
}

#single-project-container .single-project-content-container .main-content-container .main-content-title {
  padding-bottom: 0.5rem;
}

#single-project-container .single-project-content-container .main-content-container .main-content {
  line-height: 40px;
}

#single-project-container .single-project-content-container .main-content-container:first-child {
  padding-top: 3rem;
}

#single-project-container .single-project-content-container .single-project-sidebar {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
  -ms-grid-row: 1;
  grid-row: 1;
  background: lightgray;
}

#single-project-container .single-project-content-container .single-project-sidebar hr {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#single-project-container .single-project-content-container .single-project-sidebar .sidebar-content-container {
  width: 100%;
  padding: 2rem 2rem 0 3rem;
}

#single-project-container .single-project-content-container .single-project-sidebar .sidebar-content-container .sidebar-content-title {
  font-weight: 700;
  padding-bottom: 0.5rem;
}

#single-project-container .single-project-content-container .single-project-sidebar .sidebar-content-container .single-project-blurb {
  padding-bottom: 1rem;
}

#single-project-container .single-project-content-container .single-project-sidebar .sidebar-content-container .single-project-link a {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  word-break: break-word;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #212529;
}

#single-project-container .single-project-content-container .single-project-sidebar .sidebar-content-container .single-project-link a svg {
  height: 20px;
  width: 20px;
  margin-right: 0.5rem;
  fill: #212529;
}

#single-project-container .single-project-content-container .single-project-sidebar .sidebar-content-container .single-project-link a:hover span {
  text-decoration: underline;
}

#single-project-container .single-project-content-container .single-project-sidebar .sidebar-content-container .single-project-link:nth-child(2) {
  padding-bottom: 1rem;
}

#single-project-container .single-project-content-container .single-project-sidebar .sidebar-content-container ul.sidebar-content {
  margin: 0;
  padding: 0;
  padding-left: 1rem;
  list-style: none;
}

#single-project-container .single-project-content-container .single-project-sidebar .sidebar-content-container:nth-child(2) {
  padding-top: 0;
}

#single-project-container .single-project-content-container .single-project-sidebar .sidebar-content-container:last-child {
  padding-bottom: 5rem;
}
/*# sourceMappingURL=App.css.map */