@import url("https://fonts.googleapis.com/css?family=Montserrat");
body, html {
  height: 100%;
}

body {
  margin: 0;
  height: 100vh;
  font-family: "Montserrat", sans-serif !important;
  background-color: #FDE9C9 !important;
}

#root {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.logo {
  width: 30px;
  height: 30px;
}

.logo-text {
  font-weight: normal;
}

header .navbar .logo {
  margin-right: 0.5em;
}

header .navbar .btn-background {
  background: #89C5CC;
  border-radius: 20px;
}

footer .logo {
  padding: 0 !important;
  margin-left: 0.5em !important;
  margin-right: 0.5em !important;
}

footer .logo svg {
  width: 100%;
  height: 100%;
}

#home-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.colored-text {
  color: #E44D26;
}

section {
  height: 100vh;
  width: 100vw;
}

section:nth-of-type(2) {
  padding: 0;
}

section .card {
  width: 100vw;
  border: none;
  border-radius: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
}

section#hero #hero-container {
  height: 100%;
  position: relative;
}

section#hero #hero-container svg.flower {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
}

section#hero #hero-container .background {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
}

section#hero #hero-container .background svg {
  width: 100%;
  height: 100%;
}

section#hero #hero-container .hero-text {
  position: absolute;
  top: 3.5em;
  left: 3em;
  width: 653px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  font-size: 1.5em;
  line-height: 38px;
  padding-bottom: 6px;
}

section#hero #hero-container .hero-text div:first-of-type {
  font-weight: bold;
  font-size: 2.75em;
  line-height: 85px;
}

section#about #about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  height: 100%;
}

section#about #about-container .card {
  height: 80vh;
}

section#about #about-container .card svg.flower {
  position: absolute;
  top: -5em;
  left: 0;
  z-index: 2;
}

section#about #about-container .card .background {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

section#about #about-container .card .background svg {
  height: 100%;
  position: absolute;
  padding-top: 2em;
  margin-top: -0.5em;
  z-index: 1;
}

section#about #about-container .card .background div {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #FFC331;
  -webkit-clip-path: polygon(0 0, 17% 0, 63% 100%, 0% 100%);
          clip-path: polygon(0 0, 17% 0, 63% 100%, 0% 100%);
}

section#about #about-container .card .background div:nth-of-type(1) {
  background-color: #E5E5E5;
  -webkit-clip-path: polygon(0 100%, 17% 100%, 63% 0, 0 0);
          clip-path: polygon(0 100%, 17% 100%, 63% 0, 0 0);
}

section#about #about-container .card img {
  height: 18em;
  border-radius: 9em;
  z-index: 1;
}

section#about #about-container .card .about-text {
  width: 55vw;
  font-weight: 500;
  font-size: 1.5em;
  line-height: 38px;
  z-index: 2;
}

section#about #about-container .card .about-text div {
  padding-bottom: 1em;
}

section#about #about-container .card .about-text div:first-of-type {
  font-weight: bolder;
  font-size: 2em;
  line-height: 85px;
  padding-bottom: 0.5em;
}

section#about #about-container .card .about-text div:last-of-type .colored-text {
  font-weight: bolder;
  text-decoration: underline;
}

section#featured {
  height: auto;
}

section#featured #featured-container .featured-text {
  height: 30vh;
  font-weight: 500;
  font-size: 1.5em;
  line-height: 38px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  z-index: 1;
}

section#featured #featured-container .featured-text div {
  padding-bottom: 1em;
}

section#featured #featured-container .featured-text div:first-of-type {
  font-weight: bolder;
  font-size: 2em;
  line-height: 85px;
  padding-bottom: 0.5em;
}

section#featured #featured-container .featured-text svg:first-child {
  position: absolute;
  top: -8em;
  right: 0;
}

section#featured #featured-container .featured-projects .project:nth-child(3) .card svg.flower {
  position: absolute;
  top: unset;
  bottom: 0;
}

section#featured #featured-container .featured-projects .project:nth-child(4) .card svg.flower {
  position: absolute;
  bottom: 0;
  left: 0;
}

section#featured #featured-container .featured-projects .project:nth-child(2) .card svg.flower {
  bottom: 0;
  right: 0;
  left: unset;
  top: unset;
}

section#featured #featured-container .featured-projects .project:nth-child(2) .card .project-image {
  margin-left: auto;
  margin-right: 2em;
}

section#featured #featured-container .featured-projects .project:nth-child(2) .card .card-text {
  position: relative;
  right: unset;
  top: unset;
}

section#featured #featured-container .featured-projects .project:nth-child(2) .card .card-text div:nth-of-type(1) {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

section#featured #featured-container .featured-projects .project:nth-child(2) .card .card-text div:nth-of-type(2) {
  margin-left: 0;
  margin-right: auto;
  text-align: right;
}

section#featured #featured-container .featured-projects .project:nth-child(2) .card .background {
  height: 100%;
  bottom: 0;
  left: 0;
}

section#featured #featured-container .featured-projects .project:nth-child(2) .card .background svg {
  height: 100%;
}

section#featured #featured-container .featured-projects .project {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#featured #featured-container .featured-projects .project svg.flower {
  position: absolute;
  top: -13em;
  left: 0;
  z-index: 1;
}

section#featured #featured-container .featured-projects .project .card {
  height: 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
}

section#featured #featured-container .featured-projects .project .card svg.flower {
  position: absolute;
  top: unset;
  bottom: 0;
  left: 0;
  z-index: 1;
}

section#featured #featured-container .featured-projects .project .card .project-image {
  height: 80%;
  width: 50%;
  margin-left: 2em;
  overflow: hidden;
  -webkit-box-shadow: inset -2px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset -2px 4px 4px rgba(0, 0, 0, 0.25);
}

section#featured #featured-container .featured-projects .project .card .project-image img {
  width: 100%;
  background: linear-gradient(132.35deg, #C4C4C4 31.67%, rgba(196, 196, 196, 0) 100%);
}

section#featured #featured-container .featured-projects .project .card .card-text {
  height: 100%;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}

section#featured #featured-container .featured-projects .project .card .card-text div:nth-of-type(1) {
  height: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1em;
  padding-right: 1em;
  margin: 1em 0;
  font-size: 2em;
  font-weight: bolder;
  background-color: #89C5CC;
  -webkit-box-shadow: -6px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: -6px 4px 4px rgba(0, 0, 0, 0.25);
}

section#featured #featured-container .featured-projects .project .card .card-text div:nth-of-type(2) {
  width: 90%;
  height: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  font-size: 1.5em;
  background-color: #E5E5E5;
  -webkit-box-shadow: -6px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: -6px 4px 4px rgba(0, 0, 0, 0.25);
}

section#featured #featured-container .featured-projects .project .card .background {
  overflow: hidden;
  position: absolute;
  height: 100%;
  width: 40%;
  bottom: 0;
  right: 0;
}

section#featured #featured-container .featured-projects .project .card .background svg.dots {
  height: 100%;
  width: 100%;
}

section#featured #featured-container .see-more {
  height: 30vh;
}

section#featured #featured-container .see-more .card {
  height: 5em;
  font-size: 1.5em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section#featured #featured-container .see-more .card .see-more-text {
  z-index: 1;
}

section#featured #featured-container .see-more .card .see-more-text .colored-text {
  font-weight: bolder;
  padding-left: 0.25em;
  text-decoration: underline;
}

section#featured #featured-container .see-more .card .background {
  width: 100%;
  height: 100%;
  position: absolute;
}

section#featured #featured-container .see-more .card .background div {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #FFC331;
  -webkit-clip-path: polygon(10% 0, 25% 100%, 75% 100%, 90% 0, 100% 0, 100% 100%, 0 100%, 0 0);
          clip-path: polygon(10% 0, 25% 100%, 75% 100%, 90% 0, 100% 0, 100% 100%, 0 100%, 0 0);
}

section#featured #featured-container .see-more .card .background div:nth-of-type(1) {
  background-color: #E5E5E5;
  -webkit-clip-path: polygon(10% 100%, 25% 0, 75% 0, 90% 100%, 100% 100%, 100% 0, 0 0, 0 100%);
          clip-path: polygon(10% 100%, 25% 0, 75% 0, 90% 100%, 100% 100%, 100% 0, 0 0, 0 100%);
}

section#contact {
  height: 90vh;
  background-color: #89C5CC;
}

section#contact #contact-container {
  height: 100%;
  position: relative;
}

section#contact #contact-container .content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

section#contact #contact-container .content .contact-text {
  font-weight: 600;
  font-size: 1.5em;
  line-height: 37px;
}

section#contact #contact-container .content .contact-text div {
  padding-bottom: 1em;
}

section#contact #contact-container .content .contact-text div:first-of-type {
  font-weight: bolder;
  font-size: 2em;
  line-height: 73px;
  padding-bottom: 0;
}

section#contact #contact-container .content #contact-form {
  z-index: 1;
  width: 45vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 38% 10% 4% 10% 38%;
      grid-template-columns: 38% 10% 4% 10% 38%;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
}

section#contact #contact-container .content #contact-form .form-group {
  text-align: left;
}

section#contact #contact-container .content #contact-form .form-group:nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  -ms-grid-row: 1;
  grid-row: 1;
}

section#contact #contact-container .content #contact-form .form-group:nth-child(2) {
  -ms-grid-column: 4;
  -ms-grid-column-span: 5;
  grid-column: 4 / span 5;
  -ms-grid-row: 1;
  grid-row: 1;
}

section#contact #contact-container .content #contact-form .form-group:nth-child(3) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1 / span 5;
  -ms-grid-row: 2;
  grid-row: 2;
  margin-bottom: 1em;
}

section#contact #contact-container .content #contact-form button {
  margin-bottom: 1em;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2 / span 3;
  -ms-grid-row: 3;
  grid-row: 3;
  background-color: #DB2721;
  border-color: #DB2721;
}

section#contact .background {
  overflow: hidden;
  position: absolute;
  bottom: 1em;
  left: 0;
}

section#contact .background svg {
  width: 100%;
  height: 100%;
}

#projects-container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 4em 6em 0 6em;
}

#projects-container .card-columns .card .image-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#projects-container .card-columns .card .image-container img {
  width: 100%;
}

#projects-container .card-columns .card .card-img-overlay {
  opacity: 0;
  color: #FFFFFF;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

#projects-container .card-columns .card .card-img-overlay:hover {
  background-color: #505050e0;
  opacity: 1;
}

#projects-container .card-columns .card .card-body {
  text-align: center;
}

#projects-container .card-columns .card .card-body .card-text .nav-link {
  display: inline-block;
  padding: 0;
}

#projects-container .card-columns .card:nth-child(1) .image-container {
  padding: 1em 0 0 0;
}

#projects-container .card-columns .card:nth-child(1) .image-container img {
  width: 60%;
  border-radius: 8em;
}

#projects-container .card-columns .card:nth-child(1) .card-body .card-title {
  font-weight: bold;
}
/*# sourceMappingURL=App.css.map */