$header-bg: linear-gradient(132.35deg,color(accent3) 31.67%,rgba(196, 196, 196, 0) 100%);
$overlay-bg: #827a7a47;

#single-project-container {
  .single-project-header {
    background: $header-bg;
    width: 100vw;
    height: 28rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;

    img {
      animation: drop 1.5s ease;
    }
    
    div {
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: $overlay-bg;
    }

    h1 {
      color: white;
      font-size: 6rem;
      font-weight: $bold;
      z-index: 1;
      position: absolute;
    }
  }

  .single-project-content-container {
    display: grid;
    width: 100vw;
    background-color: antiquewhite;
    grid-template-columns: 70% auto;
    grid-template-rows: auto auto;

    .single-project-content {
      background: white;
      grid-column: 1 / span 1;
      grid-row: 1 / span 2;
    }

    .main-content-container {
      padding: 2rem 3rem 0 3rem;

      .main-content-title {
        padding-bottom: 0.5rem;
      }

      .main-content {
        line-height: 40px;
      }
    }

    .main-content-container:first-child {
      padding-top: 3rem;
    }

    .single-project-sidebar {
      grid-column: 2 / span 1;
      grid-row: 1;
      background: lightgray;

      hr {
        width: 100%;
        margin-top: 2rem;
        margin-bottom: 2rem;
      }
      
      .sidebar-content-container {
        width: 100%;
        padding: 2rem 2rem 0 3rem;

        .sidebar-content-title {
          font-weight: $bold;
          padding-bottom: 0.5rem;
        }

        .single-project-blurb {
          padding-bottom: 1rem;
        }

        .single-project-link {
          a {
            padding: 0;
            display: flex;
            word-break: break-word;
            align-items: flex-start;
            color: color(base3);

            svg {
              height: 20px;
              width: 20px;
              margin-right: 0.5rem;
              fill: color(base3);
            }
          }

          a:hover span {
            text-decoration: underline;
          }
        }

        .single-project-link:nth-child(3){
          padding-top: 1rem;
        }
  
        ul.sidebar-content {
          margin: 0;
          padding: 0;
          padding-left: 1rem;
          list-style: none;
        }
      }

      .details .sidebar-content-container:nth-child(1) {
        padding-top: 0;
      }

      .details .sidebar-content-container:last-child {
        padding-bottom: 5rem;
      }
    }
  }
}

// /********** Medium devices (tablets, 768px and up) **********/
// @media only screen and (min-width: 768px) and (max-width: 991.98px) {

// }

/********** Small devices (landscape phones, 576px and up) **********/
@media only screen and (max-width: 767.98px) {
  #single-project-container {
    .single-project-header {
      text-align: center;
      overflow: hidden;
    }
    
    .single-project-content-container {
      grid-template-columns: auto;
      grid-template-rows: auto auto;
      
      .single-project-content {
        grid-column: 1;
        grid-row: 2;

        .main-content-container:last-child {
          padding-bottom: 5rem;
        }
      }

      .single-project-sidebar {
        grid-column: 1;
        grid-row: 1;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;

        .sidebar-content-container {
          padding: 2rem 3rem 0 3rem;
        }
        .sidebar-content-container:first-child {
          grid-column: 1;
          grid-row: 1;
        }

        .details {
          display: flex;
          padding: 0 3rem;
          flex-flow: row wrap;

          .sidebar-content-container {
            max-width: 50%;
            padding: 0;
            padding-bottom: 2rem;

            .sidebar-content {
              list-style: disc;
            }
          }
        }

        .details .sidebar-content-container:first-child {
          max-width: 100%;
        }

        .details .sidebar-content-container:nth-child(2), .details .sidebar-content-container:nth-child(4) {
          padding-right: 1rem;
        }

        .details .sidebar-content-container:last-child {
          padding-bottom: 2rem;
        }
      }
    }
  }
}

// /********** Extra small devices (portrait phones, less than 576px) **********/
@media only screen and (max-width: 575.98px) {
  #single-project-container {
    .single-project-header {
      img {
        height: 80%
      }

      h1 {
        font-size: 5rem;
      }
    }

    .single-project-content-container {
      .single-project-content .main-content-container, .single-project-sidebar .sidebar-content-container {
        padding-left: 2rem;
        padding-right: 2rem;
      }
    }
  }
}