.App {
  text-align: center;
  display: flex;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
/* .home { */
  /* background-color: gray;
  height: 75px;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: space-around;
  flex-direction: row;
  align-items: center */
  /* display: flex;
  left: 0;
  top: 0;
  width: 100px;
  background-color: gray;
  flex-direction: column;
  padding: 40px 0 0;
  right: auto;
  height: 110vh;
  justify-content: space-evenly;
  align-items: center; */
 
/* } */
/* .content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 40px; 
  width: 70%;
  padding-left: 10px
} */
/* #brand-name {
  color: white;
  text-decoration: none;
} */
#basic-navbar-nav .mr-auto {
  margin-right: 0px !important;
  margin-left: auto;
}
.home{
  display: flex;
  flex-direction: column;
}
.projectsRow{
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
}
.projectsCol{
  /* border: 1px solid gray; */
  border-radius: 15px;
  display: flex;
  /* flex-direction: column; */
  text-align: center;
  align-content: center;
  /* box-shadow: 2px 2px 2px gray; */
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
  flex-shrink: 2;
}
a{
  color: grey;
}
.projectsImg{
  width: 80%;
  height: 70%;
  border-radius: 10%;
  padding-top: 10px;
}
.description{
  padding-bottom: 200px;
}
